/* 
background image from: https://www.transparenttextures.com/ , pattern: arches
*/
header#page-header{
  background-color: #e4eff3;
  background-image: url("../images/arches.png") ;
  height: 400px;
  padding: .5em;
}

header#page-header div.avatar, header#page-header div.name {
  display: flex;
  justify-content: center;
}

