.tweet{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em;
  border: 5px solid grey;
  padding: 1em;

}
.tweet:hover {
  box-shadow: 5px 5px rgb(173, 173, 173);

}
.author-handle:hover {
  color: black;
}


article {
  display: flex;
  flex-direction: column;
}

.tweet-content {
 display: flex;
 justify-content: flex-start;
 border: 0;
 border-bottom: 5px solid grey;
 padding: 1em;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;

}
 .author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
 }
 .author-handle {
   display: flex;
   align-items: center;
 }

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  font-size: small;
}

.icons {
  color: #4056A1;
}